.titleContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.projectList {
	padding: 0px;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 5%;
}

.projectListItem {
	list-style-type: none;
	background-color: #01727c;
	text-align: center;
}

.projectListItem:hover {
	background-color: #028793;
	transition: background-color .75s linear;
}

.projectListItemAnchor {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.imageContainer {
	width: 100%;
	border-bottom: 1px;
	border-style: solid;
	border-color: #E29578;
	border-width: 0px 0px 1px 0px;
}

.projectInfo {
	text-align: center;
}