/* Page.tsx */

.container {
	display: flex;
	flex-direction: row;
}

.textContainer {
	display: flex;
	flex-direction: column;
}

.quoteList {
	display: flex;
	flex-direction: row;
	padding: 0px;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: auto;
}

.quoteListItem {
	list-style-type: none;
	max-width: 45%;
}

.profileContainer {
	display: flex;
	flex-direction: column;
	height: 400px;
}

.profile {
	align-self: flex-end;
}

/* Layout.tsx */

.pageContainer {
	display: grid;
	min-height: 100%;
	grid-template-rows: auto 1fr auto;
}

.nav {
	margin: 20px 0px;
}

.contactInfoContainer {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self:flex-start;
	text-align: center;
	margin-bottom: 10px;
}

.contactParagraph {
	margin: 0px;
}

.iconContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 5px;
}