.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.header {
	display: flex;
	width: 25%
}

.content {
	display: flex;
	width: 75%;
}

@media only screen and (max-width: 480px) {
	.container {
		flex-direction: column;
		margin-bottom: 20px;
	}
	.content {
		width: 100%;
	}
}