.container {
	display: flex;
	flex-direction: column;
	background-color: #028793;
}

.pageContent {
	margin-top: 30px;
}

.contentContainer {
	width: 90%;
	margin: auto;
}

.header {
	text-align: center
}

.name {
	border-top: 1px solid #FFDDD2;
	border-bottom: 1px solid #FFDDD2;
	padding: 10px 0px 10px 0px;
}

.subsectionChildrenContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.subsectionMetaContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.subsectionP {
	margin: 0px;
}

.subsectionPBold {
	margin: 0px;
	font-weight: 800;
}

.boldSpan {
	font-weight: 800;
}

.degreeName {
	margin: 0px;
	font-weight: 800;
}

.degreeField {
	margin: 0px;
	font-style: italic;
}

.degreeContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.projectContainer {
	display: flex;
	flex-direction: column;
}