.container {
	display: flex;
	flex-direction: column;
	background-color: #037b86;
}

.pageContent {
	margin-top: 30px;
}

.contactInfoRow {
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contactInfoColumn {
	display: flex;
	flex-direction: column;
}

.contactInfoCell {
	display: flex;
	flex-direction: row;
	column-gap: 5px;
}

.contactInfo {
	margin: 0px;
	text-align: left;
	word-break: break-all;
}

.contactInfoHeader {
	font-weight: 800;
	margin: 0px;
	text-align: left;
}

.contentContainer {
	width: 90%;
	margin: auto;
}

.header {
	text-align: center
}

.nameContainer {
	border-top: 1px solid #FFDDD2;
	border-bottom: 1px solid #FFDDD2;
	padding: 10px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.subsectionChildrenContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.subsectionMetaContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.subsectionP {
	margin: 0px;
}

.subsectionPBold {
	margin: 0px;
	font-weight: 800;
}

.boldSpan {
	font-weight: 800;
}

.degreeName {
	margin: 0px;
	font-weight: 800;
}

.degreeField {
	margin: 0px;
	font-style: italic;
}

.degreeContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.projectContainer {
	display: flex;
	flex-direction: column;
}

/* Phones */

@media only screen and (max-width: 480px) {
	.subsectionMetaContainer {
		flex-direction: column;
	}
	.degreeContainer {
		margin-top: 20px;
		flex-direction: column;
	}
	.contactInfoRow {
		flex-direction: column;
	}
	/* .contactInfoCell {
		flex-direction: column;
	} */
}